html{
    overflow-x: hidden;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-weight: bold;
    color: #0b3954;
}

.logo img {
   border-radius: 50%;
    height: 90px;
    object-fit: cover;
}

.nav {
    display: flex;
    gap: 25px;
}

.nav a {
    text-decoration: none;
    color: #555;
    font-size: 15px;
    font-weight: 500;
}

.nav a:hover {
    color: #0077b6;
    transition: 0.3s;
}

.book-btn {
    background-color: #0077b6;
    color: #fff;
    border: none;
    padding: 15px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
   
}

.book-btn:hover {
    background-color: #005f92;
     transition: 0.3s;
}
footer {
  background-color: #0b132b;
  color: white;
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links a {
  color: #ccc;
  margin: 0 10px;
  text-decoration: none;
  font-size: 14px;
}

.social-icons i {
  margin-left: 15px;
  cursor: pointer;
}
.banner{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(10, 25, 40, 0.4), rgba(10, 25, 40, 0.6)), 
          url('https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?q=80&w=2000&auto=format&fit=crop') no-repeat center center/cover;
  display: flex;
 flex-direction: column;
 justify-content: space-between;
  padding: 30px 60px;
}
.banner h1{
   font-family: 'Playfair Display', serif;
    font-size: 48px;
    line-height: 1.1;
   
    margin-bottom: 15px;
    
}
