body{
    padding: 0;
    margin: 0;
    overflow-x:  hidden;
}
#heroimage{
    width: 100%;
    height: 400px;
    display: block;
    object-position: center;
}
#hero-section h1{
    position: relative;
    bottom: 290px;
    left: 95px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 40px;
}
#hero-section p{
    position: relative;
    bottom: 300px;
    left: 95px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #dff5fc;
    font-size: 25px;
}
#hero-section{
    margin: 0;
    padding: 0;
    height:40%;
    width: 100%;
}
#area{
    padding: 0;
    margin: 0;
    display: flex;
    background-color: rgb(255, 255, 255);
    position: relative;
    height: 100%;
    width: 100%;
}
.category{
    border: 2px solid #555;
    border-radius: 25px;
    width: 50%;
    height:80%;
    gap: 10px;
}
.category img{
    object-fit: cover;
    height: 250px;
    width: 80%;
}